.footer {
  border-top: 1px solid $light-grey2;
  color: $grey3;
  display: block;
  font-size: 14px;
  margin: 48px auto 0 auto;
  padding: 16px 8px 8px 8px;
  max-width: $max-width;
}

.footer__links {
  display: block;
  margin: 12px 0;
}
