@import '../../css/imports';

.musicSearch {
  display: block;
  padding: 16px 16px 32px;
  position: relative;
  width: 80%;
  min-width: 600px;
}

.musicSearch__input {
  background-color: $light-grey5;
  border-radius: 2px;
  color: $dark-grey2;
  padding: 16px;
  position: relative;
  width: 100%;

  &:focus {
    background-color: $white;
  }

  &::placeholder {
    color: $grey1;
  }
}

.musicSearch__error {
  color: $red4;
  font-size: 13px;
  margin: 12px 0 0 16px;
}

.input-error {
  &::after {
    content: 'Must not be blank.';
    display: absolute;
    left: 0;
    top: 5px;
  }
}

.musicSearch-loading {}

.musicSearch-loaded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.musicSearch__results {
  border-radius: 2px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: block;
  overflow: hidden;
}

.musicSearch__result {
  background-color: $primary3;
  border-bottom: 2px solid $primary1;
  border-top: 1px solid $primary4;
  color: $white;
  padding: 8px 4px;

  &:hover {
    background-color: $primary2;
  }
}

.musicSearch__album,
.musicSearch__artist,
.musicSearch__song {
  vertical-align: middle;
}

.musicSearch__album {
  background-color: $light-grey4;
  border: none;
  height: 32px;
  width: 32px;
}

.musicSearch__song,
.musicSearch__artist {
  display: inline-block;
  margin-left: 8px;
}

.musicSearch__song {
  font-size: 16px;
  font-weight: 500;
}

.musicSearch__artist {
  font-size: 14px;
  font-weight: 300;
}
