@import '../../css/imports';

.section {
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba($black, .25);
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: 100%;
}

.section__title {
  font-weight: 300;
  margin: 36px 0 24px;
  text-align: center;
}

.section-narrow {
  max-width: 600px;
  width: 75%;
}
