<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'micro/style.css' %}" /> -->
  <link rel="stylesheet" type="text/css" href="{% static 'micro/css/style.css' %}" />
  <title>Spotica</title>
</head>
<body>
  <header class="header">
    {% if user.is_authenticated %}
      {{ user.username }}
      <a href="{% url 'micro:logout' %}">Log Out</a>
    {% else %}
      <a href="{% url 'micro:login' %}">Log In</a>
    {% endif %}
    {% block header %}{% endblock header %}
  </header>

  <div id="sidebar">
    {% block sidebar %}{% endblock sidebar %}
  </div>

  <div id="content">
    {% block content %}{% endblock content %}
  </div>

  <footer class="footer">
    Copyright Scalica. Created by Team 2 (Brenton Durkee, Chelsea Valentine, Freia Lobo, and Savannah Lim)
    {% block footer %}{% endblock footer %}
  </footer>
</body>
</html>
