{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sidebar %}
<!--   <img src="{% static "micro/images/user.png" %}" alt="Generic User"/>
  <br>
  <p>{{ user.username }}</p>

  <div id="status">
    {% if my_post %}
     {{ my_post.text }} ({{ my_post.pub_date|naturaltime }})
    {% endif %}
  </div> -->
{% endblock %}

{% block content %}
  <div>
    <!-- TODO: come up with a better fix for accidentally submitting form
    on enter -->
    <div class="editor">
      <div class="editor__container">
        <div class="editor__input">
          <textarea
            name="text"
            class="editorInput__field"
            id="js-editorInput__field"
            placeholder="What's on your mind?"
            rows="2"></textarea>

          <!-- TODO: replace max post length with a constant -->
          <p class="editorInput__counter" id="js-editor__counter">0/140</p>
        </div>

        <div class="editor__songChoice js-editor__songChoice"></div>

        <div class="postTypes">
          <button type="button" class="button postType js-musicSearch__launcher">
            <i class="material-icons button__icon postType__icon">music_note</i>
            Add music
          </button>
        </div>

        <div class="hidden overlay editor__overlay" id="js-overlay">
          <div class="overlay__container">
            <!-- Music search -->
            <div class="musicSearch">
              <input
                type="text"
                class="musicSearch__input"
                id="js-musicSearch__input"
                placeholder="Search for song by name or artist" />
              <p class="hidden musicSearch__error js-musicSearch__error"></p>

              <div class="searchResults js-musicSearch__results"></div>
            </div>
          </div>
        </div>
      </div>

      <input type="submit" class="primary button editor__submit js-editor__submit" value="Post">
    </div>

    <div class="feed">
      <div class="feed__tabs">
        <div class="tab tab-selected">All</div>
        <div class="tab">You</div>
      </div>

      {% if post_list %}
        <div class="feed__posts">
          {% for post in post_list %}
            <div class="post">
              <div class="post__header">
                <img class="post__authorPic" src="">
                <div class="post__details">
                  <p class="post__authorName">{{ post.user.username }}</p>
                  <p class="post__published">{{ post.pub_date|naturaltime }}</p>
                </div>
              </div>

              <p class="post__text">{{ post.text }}</p>

              {% if post.song %}
              <div class="post__songWidget">
              </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <!-- No posts, so display empty state -->
        <div class="feed__emptyState">
          <div class="emptyState__container">
            <h2 class="emptyState__title">There are no posts</h2>
            <p class="emptyState__prompt">Write the first post!</p>
            <a class="emptyState__suggestion" href="">Find users</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static "micro/js/editor.js" %}" type="text/javascript" charset="utf-8" defer></script>
  <script src="{% static "micro/js/music-search.js" %}" type="text/javascript" charset="utf-8" defer></script>
  <script src="{% static "micro/js/overlay.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
