{% extends "micro/base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block sidebar %}
  <img src="{% static "micro/images/user.png" %}" alt="Generic User"/>
  <br>
  <p>{{ user.username }}</p>
{% endblock %}

{% block content %}
  <div>
    <!-- TODO: come up with a better fix for accidentally submitting form
    on enter -->
    <form class="form" method="post" action="{% url 'micro:post' %}" onkeypress="return event.keyCode != 13;">
      {% csrf_token %}
      <div class="editor">
        <div class="editor__container">
          <div class="editor__input">
            <textarea
              name="text"
              class="editorInput__field"
              id="js-editorInput__field"
              placeholder="What's on your mind?"
              rows="2"></textarea>

            <!-- TODO: replace max post length with a constant -->
            <p class="editorInput__counter" id="js-editor__counter">0/140</p>
          </div>

          <div class="editor__songChoice js-editor__songChoice"></div>

          <div class="postTypes">
            <button type="button" class="button postType js-musicSearch__launcher">
              <i class="material-icons button__icon postType__icon">music_note</i>
              Add music
            </button>
          </div>

          <div class="hidden overlay editor__overlay" id="js-overlay">
            <div class="overlay__container">
              <!-- Music search -->
              <div class="musicSearch">
                <input
                  type="text"
                  class="musicSearch__input"
                  id="js-musicSearch__input"
                  placeholder="Search for song by name or artist" />
                <p class="hidden musicSearch__error js-musicSearch__error"></p>

                <div class="searchResults js-musicSearch__results"></div>
              </div>
            </div>
          </div>
        </div>

        <input type="submit" class="primary button editor__submit" value="Post">
      </div>
    </form>

    <div class="feed">
    </div>
  </div>

  <div id="status">
    {% if my_post %}
     {{ my_post.text }} ({{ my_post.pub_date|naturaltime }})
    {% endif %}
  </div>

  <div>
    {% if post_list %}
      <table id="postlist">
        {% for post in post_list %}
          <tr>
            <td>
              <img src="{% static "micro/images/user_s.png" %}" alt="Generic User"/>
            </td>
            <td>
              {{ post.text }}
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a href="{% url 'micro:stream' post.user_id %}">
                {{ post.user.username }}
              </a>
              ({{ post.pub_date|naturaltime }})
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No posts are available.</p>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static "micro/js/editor.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "micro/js/music-search.js" %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static "micro/js/overlay.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
