@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$font-stack: sans-serif;

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: $font-stack;
}

a {
  color: $primary3;
  text-decoration: none;

  &:hover {
    color: $primary2;
    text-decoration: underline;
  }
}

.text-warning {
  color: $warning2;
}

.text-error {
  color: $error2;
}
